body {
    background-image: url('../assets/background.png');
    background-size: cover;
    background-position: center;
    font-family: 'Arial', sans-serif;
}

/* Styling untuk Notifikasi */
.notif-popup {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    background: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.notif-container:hover .notif-popup,
.notif-container.active .notif-popup {
    display: block;
}

#animated-text {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    color: black;
    border-right: 2px solid black;
    padding-right: 5px;
    white-space: nowrap;
    overflow: hidden;
}

footer {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
footer .fab {
    font-size: 1.5rem;
}
